
	
    <% if(usuarioLogueado != null){ %>

        <%-include("./partials/headerLogueado") %>
    
        <% } else { %>
    
        <%-include("./partials/header")%>
        
        <%}%>
	

	
	<section class="row">
        <article class="col-12 col-md-6 m-auto">
            <h1 id="titulo" class="text-center pt-1">CREAR PRODUCTO</h1>
            <form id="nuevo" action="/producto/store" method="POST">
                <div class="mb-3">
                    <label for="usuario_id" class="form-label">Id del Usuario</label>
                    <input type="text" class="form-control" id="usuario_id" name="usuario_id" value="<%- idUsuario %>">
                </div>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre del Producto</label>
                  <input type="text" class="form-control" id="nombre" name="nombre">
                </div>
				<div id="espacio" class="mb-3">
                    <label id="espacio2" for="categoria" class="form-label">Categoria del Producto</label>
                    <select class="form-select" aria-label="Default select example" name="categoria">
                        <option  selected disabled>Seleccione la categoria</option>
                        <% for(let i = 0 ; i < categorias.length; i++){ %>
                            <option  value=<%= categorias[i].id %>><%= categorias[i].name %></option>
                        <% } %>
                      </select>
                </div> 
                <div class="mb-3">
                    <label for="url" class="form-label">URL de la imagen</label>
                    <input type="text" class="form-control" id="url" name="url">
                </div>
				<div class="mb-3">
                    <label for="descripcion" class="form-label">Descripcion</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" rows="3"></textarea>
                </div> 
                <div class="mb-3">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" class="form-control" id="precio" name="precio">
                </div>                                   
                <div>
                    <button id="remember2" type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </form>            
        </article>
    </section>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>